* {
    background-color: rgb(70,173,176);
  }

  html, body {
    margin: 0;
  }
  
    .header .background-img {
      position: absolute;
      height: 100%;
      width: 100%;
    }
  
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    color: white;
    
  }

  .lower-screen {
    z-index: 3;
    display:block;
    padding: 0;
    margin:auto;
    position:fixed;
    height: 50px;
    width: 100%;
    bottom: 0;
    background-color:white;
  }
  .lower-screen .hl {
    font-family: "Chango", sans-serif; 
    font-size: 20px;
    color: rgb(100,196,199);
    background-color: white;
  }


  .hl #location {
    font-size: large;
    background-color: white;
  }

  button:hover{
    background-color: rgb(100,196,199);
  }

  .food {
    text-align: center;
    font-family: "Chango", sans-serif;
    display: block;
    top: 35%; 
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: xx-large;
  }

  .food #hungryYes{
    margin: 30px;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    border: white;
  }

  .food #hungryNo{
    margin: 30px;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    border: white;
  }

  .foodList{
    text-align: center;
    font-family: "Chango", sans-serif;
    display: none;
    top: 35%; 
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: xx-large;
  }

  .fQuestion {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100%;
  }

  .foodList .gback {
    position: absolute;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    left: 700px;
    color: white;
    border: white;
  }

  .foodList .foodGenres {
    list-style-type: none;
  }


  .setting{
    text-align: center;
    font-family: "Chango", sans-serif;
    display: none;
    width: 100%;
    top: 35%;
    text-align: center;
    position: absolute;
    font-size: xx-large;
  }

  .setting #outside{
    margin: 30px;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    border: white;
  }

  .setting #outside:active{
    background-color: rgb(100,196,199);
  }
  

  .setting #inside{
    margin: 30px;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    border: white;
  }

  .setting .settingGoBack {
    margin: 30px;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    border: white;
  }

  .outsideList{
    text-align: center;
    font-family: "Chango", sans-serif;
    display: none;
    top: 18%; 
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: xx-large;
  }
  

  .outsideList .outAct {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100%;
  }

  .outsideList .outGoBack {
    position: absolute;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    bottom: 0px;
    left: 0px;
    border: none;
  }

  .outsideList .ol {
    list-style-type: none;
  }

  .insideList {
    text-align: center;
    font-family: "Chango", sans-serif;
    display: none;
    top: 18%; 
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: xx-large;
  }

  .insideList .inAct {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 100%;
  }

  .insideList .inGoBack {
    position: absolute;
    font-size: large;
    font-family: "Chango", sans-serif; 
    width: 100px;
    height: 50px;
    color: white;
    bottom: 0px;
    left: 0px;
    border: none;
  }

  .insideList .il {
    list-style-type: none;
  }

  .food .previous {
    position:fixed;
    top: 20px;
    border: none;
    background-color: transparent;
   
    }
  
    a:link {
      color: white;
      background: none;
    }

    a:visited {
      color: white;
      background: none;
    }

    a:hover {
      color: rgb(100,196,199);
      background: none;
    }

    /*Two lists indoor suggestion page */
    .in-first-list {
      position: absolute;
      right: 18%;
      border: none;
      
    }

    .in-second-list {
      position: absolute;
      left: 10%;
      border: none;
    }

    .out-first-list {
      position: absolute;
      right: 18%;
      border: none;
      
    }

    .out-second-list {
      position: absolute;
      left: 15%;
      border: none;
    }

    .insideList .explore-links {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 100%;
      font-size:medium;
    }

    .outsideList .explore-links {
      position: absolute;
      text-align: center;
      width: 100%;
      bottom: 100%;
      font-size:medium;
    }