* {
    background-color: rgb(70,173,176);
  }
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden; 
    text-align: center;
    color: white;
  }

  .Previous {
    position:absolute;
    color: black;
    display: inline-block;
    background-color: white;
  }