* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden; 
    text-align: center;
    color: white;
  }
  /* Split the screen in half */
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(70,173,176);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: rgb(100,196,199);
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .header {
    position: fixed;
    z-index: 2;
    font-size:100px;
    margin: 0;
    width: 100%;
    top: 50px;
    font-family: "Chango", sans-serif;
  }

  .leftarrowimage {
    width: 800px;
    left: 0;
    border: none;
    background-color: transparent;
  }

  .rightarrowimage {
    width: 800px;
    left: 0;
    border: none;
    background-color: transparent;
  }

  button {
    border: none;
    cursor: pointer;
    transition: transform .7s ease-in-out;
    
    appearance: none;
    background-color: inherit;
  }

  .rightarrowbutton:hover{
    transform: translate(75px);
}

  .leftarrowbutton:hover{
    transform: translate(-75px);
    animation-duration: 2.5s, 5s, 1s;

  }

  .testing{
    z-index: 2;
  }
