* {
    margin: 100;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {
    font-family: "Be Vietnam Pro", sans-serif;
    overflow-y: hidden;
    overflow-x: hidden; 
    text-align: center;
  }

  #container {
    width: 400px;
    height: 400px;
    position: relative;
    margin: 30px;
  }

  #left-side {
    background-color: aqua;
    left: 0;
    height: 100vh;
    width: 400px;
  }
  #right-side {
    background-color:blueviolet;
    right: 0;
    height: 100vh;
    width: 400px;
  }